@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    
}
main {
    padding-top: 60px;
    background-color: rgb(234, 228, 208);
    min-height: min-content;
    
} 
main .container {
    max-width: 1100px;
    min-width: 260px;
    margin: 0 auto;
    
}

main li {
    margin: 0px 0px 16px 22px;
}
.heading {
    display: block;

    color: rgb(110, 68, 74);
    text-align: left;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 46px;
    font-optical-sizing: auto;
    font-weight: 700;
    

    padding-top: 5px;
}
.neuronet_img {
    width: 700px;
    height: auto;
    padding-bottom: 15px;
}
.gpt_img {
    width: 520px;
    height: auto;
    padding-bottom: 15px;
}
.mg_img {
    width: 520px;
    height: auto;
    padding-bottom: 15px;
}
.input_img {
    width: 560px;
    height: auto;
    padding-bottom: 15px;
}
.pope_img {
    width: 500px;
    height: auto;
    padding-bottom: 15px;  
}
.Theatre_img {
    width: 650px;
    height: auto;
    padding-bottom: 15px;   
}
.ya_gpt_img  {
    width: 850px;
    height: auto;
    padding-bottom: 15px;  
}
.text {
    color: rgb(110, 68, 74);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 21px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:normal;
}
.text_end {
    color: rgb(110, 68, 74);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 21px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:normal;

    margin: 0px;
    padding-bottom: 34px;
}
main a {
    color: rgb(110, 68, 74);
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:italic;
}
.strong {
    font-weight: 700;
}
.italic {
    font-style: italic;
}
/* MAIN */
@media (max-width: 750px) {
    .neuronet_img {
        width: 530px;
        height: auto;
        padding-bottom: 15px;
    }
    .input_img {
        width: 440px;
        height: auto;
        padding-bottom: 15px;
    }
}
@media (max-width: 570px) {
    .neuronet_img {
        width: 400px;
        height: auto;
        padding-bottom: 15px;
    }
    .input_img {
        width: 360px;
        height: auto;
        padding-bottom: 15px;
    }
}
@media (max-width: 440px) {
    .neuronet_img {
        width: 300px;
        height: auto;
        padding-bottom: 15px;
    }
    .input_img {
        width: 310px;
        height: auto;
        padding-bottom: 15px;
    }
    .home {
        left: 75px;
        font-size: 24px;
    }
    .dropdown {
        left: 160px;  
        font-size: 24px;
    }
}
/*  GPT */
@media (max-width: 750px) {
    .gpt_img {
        width: 530px;
        height: auto;
        padding-bottom: 15px;
    }
}
@media (max-width: 570px) {
    .gpt_img {
        width: 400px;
        height: auto;
        padding-bottom: 15px;
    }
}
@media (max-width: 440px) {
    .gpt_img {
        width: 300px;
        height: auto;
        padding-bottom: 15px;
    }

    .home {
        left: 75px;
        font-size: 24px;
    }
    .dropdown {
        left: 160px;  
        font-size: 24px;
    }
}
/* MG */
@media (max-width: 750px) {
    .mg_img {
        width: 530px;
        height: auto;
        padding-bottom: 15px;
    }
    .pope_img {
        width: 440px;
        height: auto;
        padding-bottom: 15px;
    }
    .Theatre_img {
        width: 440px;
        height: auto;
        padding-bottom: 15px;
    }
}
@media (max-width: 570px) {
    .mg_img {
        width: 400px;
        height: auto;
        padding-bottom: 15px;
    }
    .pope_img {
        width: 360px;
        height: auto;
        padding-bottom: 15px;
    }
    .Theatre_img {
        width: 360px;
        height: auto;
        padding-bottom: 15px;
    }
}
@media (max-width: 440px) {
    .mg_img {
        width: 300px;
        height: auto;
        padding-bottom: 15px;
    }
    .pope_img {
        width: 310px;
        height: auto;
        padding-bottom: 15px;
    }
    .Theatre_img {
        width: 310px;
        height: auto;
        padding-bottom: 15px;
    }

    .home {
        left: 75px;
        font-size: 24px;
    }
    .dropdown {
        left: 160px;  
        font-size: 24px;
    }
}
/* YANDEX */
@media (max-width: 880px) {
    .ya_gpt_img {
        width: 530px;
        height: auto;
        padding-bottom: 15px;
    }
}
@media (max-width: 570px) {
    .ya_gpt_img {
        width: 400px;
        height: auto;
        padding-bottom: 15px;
    }

}
@media (max-width: 440px) {
    .ya_gpt_img {
        width: 300px;
        height: auto;
        padding-bottom: 15px;
    }

    .home {
        left: 75px;
        font-size: 24px;
    }
    .dropdown {
        left: 160px;  
        font-size: 24px;
    }
}